{% extends "end_user/base.html" %}

{% block body %}
    {{ super() }}

<div class="container-fluid" style="height:90%;">
    <div id="fade" onClick="lightbox_close();"></div>
    <ul class="nav nav-tabs" id="nav-bar" style="height:5%;">
        <li class="nav-item">
            <a class="nav-link active" id="Inleiding-tab">Inleiding</a>
        </li>

        <li class="nav-item stage-2" style="display:none;">
            <a class="nav-link" id="CLB-tab">CLB</a>
        </li>
        <li class="nav-item stage-2" style="display:none;">
            <a class="nav-link" id="Scholengemeenschap-tab">Scholengemeenschap</a>
        </li>
        <li class="nav-item stage-2" style="display:none;">
            <a class="nav-link" id="Internaat-tab">Internaat</a>
        </li>
        <li class="nav-item stage-3" style="display:none;">
            <a class="nav-link" id="Wonder-tab">Wonder</a>
        </li>
    </ul>
    <div class="nav-divs" id="Inleiding-div" style="margin-left:20%;margin-right:20%;">
        Hallo {{ user.first_name }} {{ user.last_name }},<br>
        Welkom op de virtuele infoavond van De Mol.<br>
        Hieronder ziet u een filmpje met een introductie van onze directeur, Veerle Bernaerts.<br>
        Dit duurt 4 minuten en wij zouden graag hebben dat u dit filmpje helemaal bekijkt.<br>
        Na het filmpje zullen er enkele extra tabbladen te voorschijn komen waar u kan rondkijken en eventueel chatten
        met één van onze medewerkers.<br>
        Nog veel plezier gewenst.<br>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ content.intro.intro_video }}" allowfullscreen></iframe>
        </div>
    </div>
    <div class="nav-divs" id="CLB-div" style="display:none;height:95%">
        <div class="row" style="height:100%;">
            <div class="col-sm-6">
                Hier kan u informatie vinden over het CLB.<br>
                Hieronder staan filmpjes die u kan bekijken en documenten die u kan downloaden en lezen.<br>
                Rechts is een chatbox waar u met onze medewerkers kan praten.<br>
                Om xx.xx uur komt er hierboven een tabblad bij, zodat u naar de school van uw keuze kan navigeren en
                daar kan chatten met de medewerkers.<br>
                Veel plezier.<br>
                <div class="clb-info-items-content"></div>
            </div>
        </div>
    </div>

    <div class="nav-item-template hidden-template">
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
    </div>

    <div class="nav-div-template hidden-template">
        <div class="nav-divs" style="display:none;height:95%">
            <div class="row" style="height:100%;">
            </div>
        </div>
    </div>

    <div class="chat-window-template hidden-template">
        <div class="col-sm-6" id="CLB-coworker">
            <div class="chat_window">
                <div class="top_menu">
                    <div class="buttons">
                    </div>
                    <div class="title">Niemand aanwezig</div>
                </div>
                <ul class="messages"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input class="message_input" placeholder="Typ hier je bericht..."/>
                    </div>
                    <div class="send_message" value="room-code">
                        <div class="icon"></div>
                        <div class="text">Stuur</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-template hidden-template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>

    <div class="info-item-template hidden-template">
        <div class="thin-green-border">
            <a onclick="info_item_clicked();">Paarjes</a>
        </div>
    </div>


    <div id="light">
        <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
        <video id="VisaChipCardVideo" width="800" controls>
            <!--Browser does not support <video> tag -->
        </video>
    </div>

    <!-- Modal -->
    <div class="modal videomodal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var user = {{ user | tojson }}
        var content = {{ content | tojson }}
        {#var floors = {{ floors | tojson }}#}
    </script>
    <script type="text/javascript"> {% include "end_user/infomoment.js" %}</script>
{% endblock %}
